{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "> 5%",
            "ie >= 11"
          ]
        },
        "debug": false,
        "corejs": "3",
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-styled-components"
  ]
}
